---
import { Badge } from "@astrojs/starlight/components";

interface Props { error: Record<string, number>; }

const { error } = Astro.props;

function in_ulps(error: number) {
    return "±" + String(error) + " ulps";
}

---

<Fragment slot="brief">
  <div style="display: flex; align-items: baseline;">
    <slot />

    <div style="display: flex; gap: 0.5rem; margin-left: auto; align-items: baseline;">
      {
        Object.entries(error).map(([format, value]) => (
          <a
            href="../../resources/rounding"
            title={`maximum over-approximation that can occur in ${format.toUpperCase()}`}
            aria-label="more information about ulp-error and rounding behavior"
            style="display: flex; flex-direction: column; align-items: flex-start;"
          >
            <Badge text={format.toUpperCase()} variant="note" />
            <Badge text={in_ulps(value)} variant="caution" />
          </a>
        ))
      }
    </div>
  </div>
</Fragment>
